* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.foot-container {
  width: 70px;
  height: 70px;
  transform: rotate(360deg);
  display: flex;
  margin-left: 325px;
  margin-top: -210px;
}

.tesla-block {
    position: relative;
}

.tesla-car {
    height: 400px;
}

.foot-1 {
    height: 65px;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    animation: .7s linear 0s normal none infinite running rot;
  }

.foot-2 {
    height: 65px;
    position: relative;
    animation: .7s linear 0s normal none infinite running rot;
    top: 0px;
    left: 0px;
    margin-left: 275px;
}

.rot-2 {
  animation: .7s linear 0s normal none infinite running rot-2 !important;
}

.block-2 {
    display: flex;
    justify-content: space-between;
}

.bottom-block p,
.second-screen p,
.first-screen p {
    color: #707070;
    font-weight: 500;
    font-size: 14px;
    text-align: start;
}

.up,
.low {
    all: unset;
    cursor: pointer;
}

.up {
    margin: -100px 0 0 150px;
    transform: translate(26px, -43px);

}

.low {
    transform: translate(176px, -40px);
}

.bottom-block {
   text-align: start;
   margin: 80px 0 0 0;
   display: flex;
   gap: 80px;
}

.third-bb .low {
    transform: translate(75px, -40px);
}

.third-bb .up {
    transform: translate(-75px, -43px);
}

.toggle-container {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
  }
  input[type="checkbox"] {
    display: none;
  }
  label {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 25px;
    border-radius: 34px;
    background-color: #8b8888;
    cursor: pointer;
  }
  input[type="checkbox"]:checked + label {
    background-color: #4200FF;
  }
  label:after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 26px;
    top: 5px;
    left: 5px;
    right: 5px;
    background-color: #fff;
    transition: 0.2s;
  }
  input[type="checkbox"]:checked + label:after {
    transform: translateX(19px);
  }

  .fourth-bb {
    display: flex;
    gap: 30px;
    margin-left: -90px;
  }

  .p-text {
    width: 140px;
  }

  .black {
    height: 400px;
  }

  .screen-2 {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  .color-1,
  .color-2,
  .color-3 {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
  }

  .color-1 {
    background-color: #262626;
  }

  .color-2 {
    background-color: #EFEFEF;
    margin-left: 5px;
  }

  .color-3 {
    background-color: #E6DDD0;
    margin-left: 5px;
  }

  .btn-color-block {
    margin: 50px 150px 0 0;
  }

  .p-color {
    color: #707070;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .tog {
    margin: -58px 0 50px 550px;
  }

  .p-color-2 {
    color: #707070;
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 -10px -25px;
  }

  .modal-tesla {
    display: none;
    margin-top: 50px;
  }

  .tesla-animation {
    scale: 5;
    transition: .7s;
  }

  .opac {
    opacity: 0;
    display: none;
  }

  .screen-2 {
    margin-top: 30px;
  }